<mat-toolbar color="" class="bg-gray-100">
  <div class="container mx-auto">
    <mat-toolbar-row class="flex justify-between">
      <span class=" flex justify-center items-center">Logo</span>
      <span>bn/en</span>
    </mat-toolbar-row>

  </div>
</mat-toolbar>
<mat-toolbar color="" class="bg-gray-100">
  <div class="container mx-auto">
    <mat-toolbar-row class="flex justify-between">
      <div class="gap-4 text-gray-600 hidden lg:flex">
        <div>
          <button mat-button>Home</button>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu"> Product & Services <mat-icon>expand_more</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">Become a Client <mat-icon>expand_more</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div>
          <button mat-button [matMenuTriggerFor]="menu">Downloads <mat-icon>expand_more</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div >
          <button mat-button [matMenuTriggerFor]="menu">Research <mat-icon>expand_more</mat-icon></button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </div>
      <div class=" gap-4 text-gray-500 hidden lg:flex">
        <button mat-button class="bg-green-600 text-gray-200"> Login</button>
        <button mat-button class="bg-blue-600 text-gray-200"> Sign Up</button>
      </div>
      <div class="lg:hidden">
        <button mat-icon-button class="example-icon " aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>

  </div>
</mat-toolbar>

<div  (mousedown)="preventDefoult($event)"  class="h-[650px] lg:h-[600px] md:h-[400px]">
  <mat-carousel
    [interval]="2500"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [maintainAspectRatio]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      [hideOverlay]="true"
    >
      <div class="container mx-auto ">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
          <div class=" h-full flex items-center">
            <h1 class="text-center lg: text-left text-green-700 text-4xl px-4 lg:px-0 lg:text-6xl font-bold leading-[3rem]  lg:leading-[6rem]">মুজিব শতবর্ষ অঙ্গীকার উন্নয়ন-অর্থায়নের উৎস হবে পুঁজিবাজার</h1>
          </div>
          <div>
            <img src="assets/mujib_100_logo.png" alt="">
          </div>
        </div>
      </div>
    </mat-carousel-slide>
    <mat-carousel-slide
      #matCarouselSlide
      [hideOverlay]="true"
    >
      <div class="container mx-auto ">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
          <div class=" h-full flex items-center">
            <h1 class="text-center lg: text-left text-green-700 text-4xl px-4 lg:px-0 lg:text-6xl font-bold leading-[3rem]  lg:leading-[6rem]">মুজিব শতবর্ষ অঙ্গীকার উন্নয়ন-অর্থায়নের উৎস হবে পুঁজিবাজার</h1>
          </div>
          <div>
            <img src="assets/mujib_100_logo.png" alt="">
          </div>
        </div>
      </div>
    </mat-carousel-slide>
    <mat-carousel-slide
    #matCarouselSlide
    [hideOverlay]="true"
  >
    <div class="container mx-auto ">
      <div class="grid grid-cols-1 md:grid-cols-2 items-center">
        <div class=" h-full flex items-center">
          <h1 class="text-center lg: text-left text-green-700 text-4xl px-4 lg:px-0 lg:text-6xl font-bold leading-[3rem]  lg:leading-[6rem]">মুজিব শতবর্ষ অঙ্গীকার উন্নয়ন-অর্থায়নের উৎস হবে পুঁজিবাজার</h1>
        </div>
        <div>
          <img src="assets/mujib_100_logo.png" alt="">
        </div>
      </div>
    </div>
  </mat-carousel-slide>
  </mat-carousel>
</div>
<div class="flex gap-4 justify-between items-center">
  <div class="w-full border-b-2 border-dotted "></div>
  <div class="w-full flex justify-center">
    AVAILABLE FOR EVERYONE
  </div>
  <div class="w-full border-b-2 border-dotted "></div>
</div>
<div class="container mx-auto flex justify-between items-center">
  <div class="flex flex-col items-center">
    <div class="h-60 w-60 shadow-2xl rounded-full">

    </div>
    <h1>text</h1>
    <button class="w-64 rounded-full shadow-2xl h-14 bg-[#644F9C]">button</button>
  </div>
  <div class="flex flex-col items-center">
    <div class="h-60 w-60 shadow-2xl rounded-full">

    </div>
    <h1>text</h1>
    <button class="w-64 rounded-full shadow-2xl h-14 bg-[#644F9C]">button</button>
  </div>
  <div class="flex flex-col items-center">
    <div class="h-60 w-60 shadow-2xl rounded-full">

    </div>
    <h1>text</h1>
    <button class="w-64 rounded-full shadow-2xl h-14 bg-[#644F9C]">button</button>
  </div>
</div>
